<div class="recipeInfo" id="recipe-detail-information">
  <!-- Recipe Title -->
  <h2 id="recipeTitle"></h2>

  <!-- Recipe Image -->
  <img id="recipeFullImage" src="" class="recipeDescriptionImage">

  <!-- Recipe Description -->
  <div class="recipeDescription">
    <p id="recipeDescriptionText"></p>
  </div>

  <!-- Recipe Ingredient -->
  <div class="recipeIngredients">
    <h4>INGREDIENT for <span id="recipeForPeople"></span> people</h4>
    <!-- Recipe Ingredients lists -->
    <ul id="recipeIngredientLists">

    </ul>
  </div>

  <!-- Recipe Instructions -->
  <div class="recipeInstructions">
    <h3>INSTRUCTIONS</h3>

    <!-- instructions list -->
    <ol id="listRecipeIngredients">

    </ol>
  </div>
</div>

<div class="ingredientsCalculator">
  <h3>INGREDIENTS CALCULATOR</h3>

  <form action="" class="ingredientsCalculator__form">
    <label class="ingredientsCalculator__form__label" for="people">Cooking for</label>
    <input class="ingredientsCalculator__form__input" type="number" id="for-people-input" required>
    <button type="button" class="button red-btn ingredientsCalculator__form__btn" id="calculate-btn">
      CALCULATE
    </button>
  </form>
</div>