/**
HEADER
*/
@media screen and (max-width: 768px) {
  .mainNav-container {
    flex-direction: column;
  }

  .navMenu {
    flex-direction: column;
  }

  .navMenu__item {
    list-style: none;
    margin: 0;
    margin-top: 20px;
  }

  .navMenu__item--isDivider {
    display: none;
  }
}

/**
HERO
**/
@media screen and (max-width: 624px) {
  .hero__heading h1 {
    font-size: 2em;
  }

  .overlapHero{
    padding: 15px;
    margin-top: -30px;
  }
}

/**
CONTENT
**/
@media screen and (max-width: 1004px) {
  /* .ingredientsCalculator__form {
    display: flex;
    flex-direction: column;
  } */

  .ingredientsCalculator__form__input {
    flex-grow: 2;
  }

  .ingredientsCalculator__form__btn {
    margin-top: 6px;
  }
}

@media screen and (max-width: 560px) {
  .section-2-column {
    flex-direction: column;
    align-items: center;
  }

  .sideNavigation {
    width: 100%;
    overflow: auto;
    max-height: 500px;
  }

  .recipesNav {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .recipeNav__item {
    margin-left: 10px;
    width: 40%;
  }

  .card-description {
    display: none;
  }

  .card-title {
    font-size: 1.2em;
  }

  .recipeDetail {
    margin-top: 10px;
    width: 100%;
  }
}