:root {
  --p-color: #393E43;
  --p--font-size: .9em;
  --a-color: #167FFC;

  --main-nav-a-padding: 10px 4px;
  --main-nav-a-left-margin: 24px;

  --content-spacing: 30px 0;

  --input-height: 25px;

  --radius: 4px;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif, Helvetica;
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul, ol {
  list-style-position: inside;
}

p, li, label {
  font-size: var(--p--font-size);
  color: var(--p-color);
  font-weight: 300;
}

a {
  color: var(--a-color);
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #4A5F71;
  margin-bottom: 20px;
}

header {
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 80%;
}

/**
FOOTER
**/
footer {
  background-color: #4A5F71;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}

.footerText {
  color: #fff;
}

/**
NAVIGATION
**/
.mainNav {
  padding: 8px 0;
}

.mainNav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navMenu {
  margin-bottom: 6px;
}

.navMenu {
  display: flex;
}

.navMenu__item {
  list-style: none;
  margin-left: var(--main-nav-a-left-margin);
}

.navMenu__item--active a, .navMenu__item a:hover {
  color: #4A5F71;
  font-weight: 600;
  border-bottom: 2px solid #4A5F71;
}

.navMenu__item a{
  color: var(--p-color);
  text-decoration: none;
  font-size: 16px;
  padding: var(--main-nav-a-padding);
}

/* .navMenu-list li a:hover{
  border-bottom: 2px solid #4A5F71;
} */

.navMenu-divider {
  padding: var(--main-nav-a-padding);
  margin-left: var(--main-nav-a-left-margin);
}

/**
HERO
**/
.hero {
  background-image: url('../images/pexels-photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 0;
  position: relative;
  z-index: -1;
}

.hero__heading {
  width: 40%;
}

.hero__heading p {
  color: #C7D3DD;
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 4px 0;
}

.hero__heading h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 3em;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.boxText {
  background: #fff;
  --hero-text-box-shadow: 2px 6px 15px 0px rgba(0,0,0,0.31);
  box-shadow: var(--hero-text-box-shadow);
  -webkit-box-shadow: var(--hero-text-box-shadow);
  -moz-box-shadow: var(--hero-text-box-shadow);
  padding: 25px 25px;
}

.overlapHero {
  margin-top: -50px;
}

/**
content
**/

.section-2-column {
  margin: var(--content-spacing);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.sideNavigation {
  background: #F8F8F8;
  overflow-y: auto;
  width: 30%;
  padding: 20px 10px;
  max-height: 1200px;
}

.recipesNav {
  margin-bottom: 10px;
}

.recipeNav__item {
  list-style: none;
}

.card {
  cursor: pointer;
  background: #fff;
  border: 1px solid #C7D3DD;
  margin-top: 20px;
  color: #4A5F71;
  width: 100%;
  transition: .3s ease;
}

.card-thumb {
  width: 100%;
}

.card-title {
  font-weight: 300;
  color: var(--p-color);
  margin-bottom: 2px;
}

.card-content {
  margin: 10px;
}

.card-footer {
  margin: 10px;
}

.card--active, .card:hover {
  border-color: var(--a-color);
  --card-box-shadow: 2px 6px 15px 0px rgba(0,0,0,0.31);
  box-shadow: var(--card-box-shadow);
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);
}

.recipeDetail {
  width: 60%;
}

.recipeDescriptionImage {
  width: 100%;
}

.recipeDescription {
  margin-top: 20px;
}

.recipeIngredients, .recipeInstructions {
  margin: var(--content-spacing) 0;
}

.recipeInstructions ol li {
  margin-top: 20px;
}

.ingredientsCalculator {
  margin: var(--content-spacing) 0;
  background: #fff;
  --ingredient-box-shadow: 2px 6px 20px 0px rgba(0,0,0,0.11);
  box-shadow: var(--ingredient-box-shadow);
  -webkit-box-shadow: var(--ingredient-box-shadow);
  -moz-box-shadow: var(--ingredient-box-shadow);
  padding: 20px;
  display: inline-block;
}

.ingredientsCalculator__form{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.ingredientsCalculator__form__input, .ingredientsCalculator__form__label {
  margin-right: 10px;
}

input, .button  {
  padding: 10px 4px;
  border-radius: var(--radius);
  outline: none;
  border: 1px solid #C7D3DD;
  font-size: .9em;
}

.button {
  border: 1px solid #C7D3DD;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 400;
}

.red-btn {
  --color-red: #FF4C4C;
  background-color: var(--color-red);
  border-color: var(--color-red);
  color: #fff;
  transition: .3s ease;
}

.red-btn:hover {
  --hover-color: #fc2e2e;
  background-color: var(--hover-color);
  border-color: var(--color-red);
}

